
/****************** GENERAL ******************/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
}

a {
   text-decoration: none;
}


/****************** HEADER ******************/

#header{
    background-color: rgb(111, 197, 144);
}

/*Se avessimo messo text-align all'interno di header, TUTTO il test sarebbe statato trasportato al centro
inclusi anche gli elementi della lista (il pallino sarebbe rimasto però ancorato a sinistra) quindi abbiamo
preferito fare l'allineamento del testo solamente su h1 e h2*/

h1{
    font-size: 36px;
    margin:0;
    text-align: center;
    padding: 15px 0 0 0;
    color:white;
    text-transform: uppercase;
}

h2{
 text-align: center;
 margin:0;
 color:white;
}

#nav{
    background-color: rgb(33, 160, 33);
    text-align: center;
    list-style-type: none; /* questo comando serve per eliminare i fastidiosi puntini dell'elenco puntato*/
    font-weight: bold;
}

#nav li{
    display: inline-block;
    padding: 10px;
    color: white;
}

#nav li a { /*selettore discendente link a all'interno di li contenuto in nav*/
    color: white
}

#nav li:hover { /*serve per colorare lo sfondoin maniera differente quando ci passo il mouse*/
    background-color: red;
}

/****************** CONTENT ******************/

#content{
margin: 10px auto 10px auto;
width: 600px;
}

#content h4{
    border-bottom: rgb(33, 160, 33) solid 3px;
}